.cards {
  width: 100vw;
}

.cards__inner {
  width: 80vw;
  margin: 15rem auto;
}

.cards__heading {
  width: 70%;
  font-size: 5.2rem;
  font-weight: 900;
  color: var(--grey-7);
  margin-bottom: 1.5rem;
  text-align: center;
  margin-top: 0;
}

.cards__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.cards__card {
    margin-top: 5rem;
    width: 37rem;
}

.cards__card-tag {
    margin-top: 1.6rem;
}

.cards__card-image {
    width: 100%;
    height: auto;
    border-radius: 1.4rem;
}

.cards__card-text {
    font-size: 1.6rem;
    color: var(--grey-6);
    margin-top: 2.8rem;
}