.footer {
    width: 100vw;
    background-color: #f1f2f3;
    margin-top: 7rem;
  }
  
  .footer__logo {
    width: 15rem;
    margin-top: 2rem;
    height: auto;
  }
  
  .footer__inner {
    width: 82vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    color: var(--grey-10);
  }
  
  .footer__column {
    flex: 1;
    margin-right: 20px;
  }
  
  .footer__column:last-child {
    flex: 2;
  }
  
  .footer__column:first-child {
    flex: 1.3; 
    margin-right: 3em;
  }
  
  .footer__text {
    font-size: 1.6rem;
    color: var(--grey-6);
    margin-bottom: 10px;
  }
  
  .footer__copyright {
    font-size: 1.2rem;
    color: var(--grey-6);
    opacity: 0.8;
  }
  
  .footer__social-icons {
    display: flex;
  }
  
  .footer__social-icon {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    text-decoration: none;
  }
  
  .footer__heading {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .footer__list,
  .footer__blog-list {
    list-style: none;
    padding: 0;
  }
  
  .footer__item,
  .footer__blog-item {
    font-size: 1.6rem;
    color: var(--grey-6);
    margin-bottom: 8px;
    cursor: pointer;
  }
  