.u-hide {
    display: none;
}

.u-show {
    display: block;
}

.u-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.u-flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}